:root{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    border: 1.5rem solid white;
    background-color: red;
    position: relative
}
.hand{
    width: 50%;
    border-top: 0.2rem solid black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: 0.5sec ease
}